@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@utility container {
  padding-inline: 20px;
  margin-inline: auto;
}
@theme {
  --font-franc: "Fraunces", serif;
  --font-inter: "Inter", serif;
}
